extends layout

block content
  .container
    .row
      .col-md-4
        h3.my-4 #{details.title} 
        img.img-fluid(src=details.icon alt='')
      .col-md-8
        h3.my-4(style="text-align:center;") Description
        p.desc(style="overflow:hidden;height:340px") #{details.description}
        div.text-center
          button#myBtn.btn.btn-primary Read more
    h3.my-4 Screenshots
    .row
      each ss in details.screenshots
        .col-md-3.col-sm-6.mb-4
          a(href='#')
            img.img-fluid(src=ss alt='')
